$gray-300: #929292;
$gray-400: #6d6d6d;
$gray-500: #494949;
$orange: #f26d21;

@mixin flex-center($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

html {
  font-size: 6.25%;
}
body {
  margin: 0;
  font-family: "Roboto";
  background-color: #f1f3f5;
}
article {
  height: fit-content;
  width: 1290rem;
  margin: 48rem auto 59rem auto;
}
p {
  margin: 0;
}

////////////////////COMPONENTS////////////////////
.menu {
  margin: 0;
  max-width: 100%;
  height: 102rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  &-container {
    width: 1290rem;
    max-height: 100%;
    margin: 25rem auto;
    @include flex-center(space-between);
    .left {
      width: 374rem;
      &-container {
        width: 100%;
        @include flex-center(space-between);
      }
      img {
        height: 52rem;
      }
    }
    .right {
      &-container {
        display: flex;
        gap: 32rem;
        .item {
          display: flex;
          align-items: center;
          gap: 6rem;
          cursor: pointer;
          text-decoration: none;
          &:hover {
            img {
              filter: invert(51%) sepia(32%) saturate(3288%) hue-rotate(347deg)
                brightness(97%) contrast(95%);
            }
            p {
              color: $orange;
            }
            // &:before {
            //   content: "";
            //   position: absolute;
            //   top: 32rem;
            //   background: $orange;
            //   width: 8rem;
            //   height: 8rem;
            //   border-radius: 100%;
            //   left: calc(50% - 8px);
            // }
          }
          img {
            height: 28rem;
            filter: invert(45%) sepia(0%) saturate(727%) hue-rotate(246deg)
              brightness(93%) contrast(87%);
          }
          p {
            font-size: 20rem;
            color: $gray-400;
            margin: 0;
          }
        }
        .user {
          @include flex-center(space-between);
          width: 140rem;
          height: 54rem;
          border-radius: 8rem;
          background-color: $orange;
          padding: 0 10rem;
          cursor: pointer;
          text-decoration: none;
          p {
            font-size: 20rem;
            font-weight: 500;
            color: #ffffff;
          }
        }
      }
    }
  }
}
.searchbar {
  background-color: #ffffff;
  border-radius: 8rem;
  width: 1290rem;
  height: 60rem;
  &-container {
    display: flex;
    padding: 6rem;
    height: 48rem;
    p {
      font-size: 16rem;
      color: $gray-500;
    }
    .text {
      width: 29.3%;
      @include flex-center(none);
      gap: 10rem;
      padding: 0rem 16rem;
      input {
        height: 90%;
        width: 80%;
        border: none;
        &::placeholder {
          font-size: 16rem;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .drop-down_container {
      width: 379rem;
      // padding: 18rem;
      // @include flex-center(space-between);
      border-radius: 0;
      border-left: 1px solid #ededed;

      background-position-x: 345rem;
    }
    .search-btn {
      background-color: $orange;
      border-radius: 6rem;
      width: 12.1%;
      @include flex-center(center);
      gap: 4rem;
      cursor: pointer;
      p {
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
}
.footer {
  width: 100%;
  height: 72rem;
  background-color: #ffffff;
  @include flex-center(center);
  p {
    font-size: 16rem;
    font-style: italic;
    color: $gray-500;
  }
}
.card {
  width: 414rem;
  height: fit-content;
  border-radius: 12rem;
  background-color: #ffffff;
  &-container {
    .header {
      padding: 12rem 12rem 0 12rem;
      .content {
        @include flex-center(space-between);
        .left {
          display: flex;
          gap: 12rem;
          img {
            height: 35rem;
          }
          .position {
            .name {
              font-size: 16rem;
              color: $gray-500;
            }
            .company {
              font-size: 13rem;
              color: $gray-300;
            }
          }
        }
        .right {
          width: 36rem;
          height: 36rem;
          border-radius: 6rem;
          background-color: $orange;
          @include flex-center(center);
        }
      }
      .description {
        font-size: 14rem;
        color: $gray-500;
        width: 244rem;
        margin-top: 17rem;
        margin-bottom: 15rem;
      }
    }
    .contact {
      @include flex-center(center);
      width: 100%;
      padding-bottom: 12rem;
      border-top: 1px dotted #c5c5c5;
      p {
        font-size: 14rem;
        color: $gray-400;
      }
      img {
        height: 18rem;
      }
      div {
        @include flex-center(center);
        gap: 4rem;
        margin-top: 12rem;
      }
      .left {
        width: 223rem;
        height: 24rem;
        border-right: 1px solid #c5c5c5;
      }
      .right {
        width: 167rem;
        height: 24rem;
        border-left: 1px solid #c5c5c5;
      }
    }
  }
}
.jobs {
  width: 100%;
  &-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 24rem;
    row-gap: 24rem;
  }
}
.pagination {
  width: 315rem;
  @include flex-center(space-between);
  font-size: 16rem;
  padding: 0;
  margin: 24rem auto 0 auto;
  a {
    @include flex-center(center);
    color: $gray-500;
  }
  li {
    list-style: none;
    cursor: pointer;
    width: 32rem;
    height: 32rem;
    border-radius: 500rem;
    @include flex-center(center);
  }
  .selected {
    background-color: $orange;
    a {
      color: #ffffff;
    }
  }
  .previous:hover,
  .next :hover {
    img {
      filter: invert(51%) sepia(32%) saturate(3288%) hue-rotate(347deg)
        brightness(97%) contrast(95%);
    }
  }
}
.notfound-image {
  width: fit-content;
  margin: auto;
}
.input-text,
.input-password {
  position: relative;
  width: fit-content;
  height: fit-content;
  .label {
    font-size: 16rem;
    color: #4d4d4d;
    font-weight: 600;
    display: block;
    margin-bottom: 12rem;
    &:after {
      content: " *";
      color: red;
    }
  }
  input {
    width: 508rem;
    height: 48rem;
    border-radius: 8rem;
    border: none;
    font-size: 16rem;
    color: $gray-500;
    padding: 0 0 0 16rem;
    &::placeholder {
      font-size: 16rem;
      position: absolute;
      left: 16rem;
      top: 17rem;
      color: $gray-300;
    }
    &:focus {
      outline: none;
    }
  }
}
.input-date {
  height: fit-content;
  width: fit-content;
  .label {
    font-size: 16rem;
    color: #4d4d4d;
    font-weight: 600;
    display: block;
    margin-bottom: 12rem;
    &:after {
      content: " *";
      color: red;
    }
  }
  &_container {
    width: 492rem;
    height: 24rem;
    padding: 12rem 16rem;
    border-radius: 8rem;
    background-color: #ffffff;
    @include flex-center(space-between);
    .left {
      display: flex;
      align-items: center;
      gap: 8rem;
      img {
        height: 24rem;
      }
      p {
        font-size: 16rem;
        color: $gray-400;
        height: fit-content;
      }
    }
  }
}
.drop-down {
  height: fit-content;
  width: fit-content;
  .label {
    font-size: 16rem;
    color: #4d4d4d;
    font-weight: 600;
    display: block;
    margin-bottom: 12rem;
    &:after {
      content: " *";
      color: red;
    }
  }
  // &_container {
  //   width: 492rem;
  //   height: 48rem;
  //   border-radius: 8rem;
  //   @include flex-center(space-between);
  //   background-color: #ffffff;
  //   padding-left: 16rem;
  //   padding-right: 16rem;
  //   p {
  //     font-size: 16rem;
  //     color: $gray-500;
  //   }
  // }
  select {
    width: 524rem;
    height: 48rem;
    border-radius: 8rem;
    border: none;
    font-size: 16rem;
    color: $gray-500;
    padding: 0 16rem 0 16rem;
    cursor: pointer;
    appearance: none;
    background-image: url("src/assets/icons/arrow.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-position-x: 490rem;
    &::placeholder {
      font-size: 16rem;
      position: absolute;
      left: 16rem;
      top: 17rem;
    }
    &:focus {
      outline: none;
    }
  }
}
.application {
  height: fit-content;
  &-container {
    .notice {
      font-size: 13rem;
      color: $gray-400;
      margin-top: 12rem;
      margin-bottom: 32rem;
      &:before {
        content: "* ";
        color: red;
      }
    }
    .input {
      width: fit-content;
      display: flex;
      gap: 60rem;
      &-left,
      &-right {
        display: flex;
        flex-direction: column;
        gap: 30rem;
      }
    }
  }
}
.button-send {
  width: 140rem;
  height: 48rem;
  background-color: $orange;
  border-radius: 8rem;
  &_container {
    width: 100%;
    height: 100%;
    @include flex-center(center);
    gap: 4rem;
    p {
      color: #ffffff;
      font-size: 16rem;
      font-weight: 600;
    }
  }
}
.file-upload {
  width: fit-content;
  margin-top: 24rem;
  margin-bottom: 30rem;

  .label {
    font-size: 16rem;
    color: #4d4d4d;
    font-weight: 600;
    display: block;
    margin-bottom: 12rem;
    &:after {
      content: " *";
      color: red;
    }
  }
  &_container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 12rem;
    .input-file {
      width: 170rem;
      height: 124rem;
      background-color: #ffffff;
      border-radius: 16rem;
      @include flex-center(center);
      flex-direction: column;
      gap: 12rem;
      p {
        width: 138rem;
        height: 35rem;
        background-color: $orange;
        border-radius: 8rem;
        font-size: 14rem;
        font-weight: bold;
        color: #ffffff;
        @include flex-center(center);
      }
    }
  }
}
.login,
.forgot-password,
.reset-password {
  width: fit-content;
  height: fit-content;
  .banner {
    font-size: 36rem;
    color: $orange;
    font-weight: bold;
    margin-bottom: 32rem;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 24rem;
    margin-bottom: 12rem;
  }
  .func {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    margin-top: 16rem;
    .remember-forgot {
      @include flex-center(space-between);
      .remember {
        display: flex;
        gap: 8rem;
        align-items: center;
        p {
          font-size: 16rem;
          color: #4d4d4d;
        }
        input[type="checkbox"] {
          height: 20rem;
          width: 20rem;
          margin: 0;
          border-radius: 4rem;
          accent-color: $orange;
        }
      }
    }
  }
  a {
    font-size: 16rem;
    color: $orange;
  }
  button {
    width: 100%;
    height: 48rem;
    border-radius: 8rem;
    background-color: $orange;
    border: none;
    font-size: 18rem;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
  }
}
.forgot-password {
  .banner {
    margin-bottom: 8rem;
  }
  .description {
    font-size: 16rem;
    color: $gray-500;
    width: 359rem;
    margin-bottom: 48rem;
  }
  a {
    text-align: right;
  }
}
.reset-password {
  a {
    text-align: right;
  }
}
.error {
  width: fit-content;
  display: flex;
  gap: 8rem;
  align-items: center;

  p {
    font-size: 16rem;
    color: red;
  }
}
.hide {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.5s ease;
  will-change: transform;
}
.show {
  max-height: 24rem;
  overflow: hidden;
  transition: all 0.5s ease;
  will-change: transform;
}
.input-error {
  border: 1px solid red;
}
.exam-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18rem;
  height: 960rem;
  .banner {
    font-size: 32rem;
    font-weight: bold;
    color: $gray-500 !important;
    .name {
      text-transform: uppercase;
      color: $orange;
    }
  }
  .menu-bar {
    width: 840rem;
    height: 48rem;
    background-color: #ffffff;
    border-radius: 8rem;
    padding: 6rem;
    margin-top: 36rem;
    display: flex;
    align-items: center;
    .drop-down {
      width: 701rem;
      height: 36rem;
      .drop-down_container {
        width: 100%;
        height: 100%;
        background-position-x: 650rem;
      }
    }
    &__btn {
      width: 97rem;
      height: 48rem;
      padding: 0 24rem;
      background-color: $orange;
      border-radius: 6rem;
      @include flex-center(space-between);
      p {
        font-size: 16rem;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
}
.input-radio,
.input-checkbox {
  width: 603rem;
  height: 50rem;
  padding: 0 15rem;
  display: flex;
  gap: 12rem;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8rem;
  input[type="radio"],
  input[type="checkbox"] {
    height: 20rem;
    width: 20rem;
    margin: 0;
    accent-color: $orange;
  }
  label {
    font-size: 16rem;
    color: $gray-500;
  }
}
.question {
  margin-top: 36rem;
  form {
    margin-bottom: 120rem;
    display: flex;
    flex-direction: column;
    gap: 16rem;
    p {
      &:first-child {
        font-weight: bold;
        font-size: 20rem;
      }
      &:nth-child(2) {
        font-size: 18rem;
        margin-top: 6rem;
      }
    }
    textarea {
      width: 601rem;
      height: 182;
      font-size: 16rem;
      padding: 16rem;
      font-family: "Roboto";
      border: none;
      border-radius: 8rem;
      &:focus {
        outline: 0;
      }
    }
  }
  &__btn {
    text-align: right;
    a {
      all: unset;
      height: 36rem;
      cursor: pointer;
      &:first-child {
        margin-right: 24rem;
      }
    }
  }
}
.report {
  height: 640rem;
  &-banner {
    margin-bottom: 24rem;
    span {
      &:first-child {
        font-weight: bold;
        font-size: 32rem;
        color: $gray-500;
      }
      &:nth-child(2) {
        font-weight: bold;
        font-size: 32rem;
        color: $orange;
        text-transform: uppercase;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 30rem;
    textarea {
      width: 601rem;
      height: 182;
      font-size: 16rem;
      padding: 16rem;
      font-family: "Roboto";
      border: none;
      border-radius: 8rem;
    }
    .input-textarea {
      display: flex;
      flex-direction: column;
      gap: 12rem;
      border-radius: 8rem;
      width: 492rem;
      textarea {
        width: 492rem;
        font-size: 16rem;
        padding: 16rem;
        font-family: "Roboto";
        border: none;
        border-radius: 8rem;
        &:focus {
          outline: 0;
        }
      }
      label {
        font-size: 16rem;
        color: #4d4d4d;
        font-weight: 600;
        display: block;
      }
    }
    .label::after {
      content: "";
    }
  }
}
////////////////////PAGES////////////////////
.employeemain {
  &-container {
    .banner {
      width: 507rem;
      margin: 48rem auto;
      p {
        max-width: fit-content;
        margin: 0 auto;
        font-size: 32rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $gray-500;
      }
      span {
        color: $orange;
      }
      .sub-banner {
        width: 490rem;
        font-size: 16rem;
        color: $gray-400;
        font-weight: 500;
        text-transform: none;
        text-align: center;
        margin-top: 20rem;
      }
    }
  }
}
.application-page {
  .banner {
    font-size: 32rem;
    font-weight: bold;
    color: $orange;
  }
}
.account-layout {
  width: 1290rem;
  margin: 50rem auto;
  height: 100vh;
  .header {
    width: 100%;
    margin-bottom: 91rem;
    @include flex-center(space-between);
    .icons {
      width: 373.24rem;
      @include flex-center(space-between);
      img {
        height: 52rem;
      }
    }
    p {
      width: 437rem;
      font-size: 28rem;
      font-weight: 600;
      color: $orange;
    }
  }
  .content {
    width: 100%;
    height: fit-content;
    @include flex-center(space-between);
  }
}
.exam-layout {
  height: 800rem;
  &__header {
    &__title {
      margin-bottom: 24rem;
      p {
        font-size: 20rem;
        color: $gray-500;
        font-weight: 600;
      }
      h1 {
        font-size: 32rem;
        color: $gray-500;
        font-weight: bold;
        margin: 0;
      }
    }
    &__menu {
      width: 1266;
      height: 72rem;
      border-radius: 12rem;
      background-color: #ffffff;
      padding: 0 12rem;
      display: flex;
      align-items: center;
      &-container {
        width: 100%;
        @include flex-center(space-between);
        .item {
          padding: 0 12rem;
          display: flex;
          p {
            font-size: 20rem;
            color: $gray-500;
          }
          span {
            font-size: 20rem;
            font-weight: bold;
            color: $orange;
          }
        }
        .timer {
          display: flex;
          align-items: center;
          gap: 8rem;
          p {
            font-size: 20rem;
            color: $orange;
            font-weight: 600;
          }
        }
        .exam-btn {
          width: 108rem;
          height: 48rem;
          background-color: $orange;
          border-radius: 6rem;
          @include flex-center(center);
          font-size: 16rem;
          font-weight: bold;
          color: #ffffff;
        }
      }
    }
  }
}
